DJANGO_SETTINGS_MODULE='config.django.local'
DJANGO_DEBUG=True
SECRET_KEY=secret

DJANGO_LOG_FILE="error.log"
DJANGO_LOG_LEVEL="ERROR"

# for development This is what the docker PostGIS container will look for to initialize the DB
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=postgres

# developer provided variables
POSTGRES_USER=dto_user
POSTGRES_PASSWORD=dto_password
POSTGRES_DB=dto_db

# Name addr comes from the name of the service in the docker compose file
POSTGIS_ADDR=dto-postgis

# port assigned to the dto-postgis service
POSTGIS_PORT=5432