DJANGO_SETTINGS_MODULE='config.django.local'
DJANGO_DEBUG=True
SECRET_KEY=secret

DJANGO_LOG_FILE="error.log"
DJANGO_LOG_LEVEL="ERROR"

# for development This is what the docker PostGIS container will look for to initialize the DB
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=postgres

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# Name addr comes from the name of the service in the docker compose file
POSTGIS_ADDR=dto-postgis

# port assigned to the dto-postgis service
POSTGIS_PORT=5432