{% extends 'base_map.html' %}
{% load i18n %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'core/css/species.css' %}"/>
{% endblock %}

{% block content %}
    <div id="app">
    <div class="row mt-2">
        <div class="col d-flex flex-wrap">
            <div class="flex-grow-1">
                <mpa-info :mpa="state.mpa"></mpa-info>
            </div>
            <div class="flex-grow-1 align-self-end">
                <mpa-controls
                        :mpa="state.mpa"
                        max-date-url="{% url 'core:get_max_date' %}"
                        mpa-depths-url="{% url 'core:get_depths' %}"
                        :initial-start-date="state.dates.startDate"
                        :initial-end-date="state.dates.endDate"
                        :selected-date="state.dates.selected"
                        @get-data="getData"
                        @date-range-change="setSelectedDateRange"
                        @selected-date-changed="setSelectedDate"
                        @depth-selected="setSelectedDepth">
                </mpa-controls>
            </div>
        </div>
        <div class="col-auto">
            <div id="map" class="map-container">
                <div class="map-loading-overlay" v-if="state.mapLoading">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabs navigation -->
    <ul class="nav nav-tabs mt-2" id="chart_types" role="tablist">
        <li class="nav-item" role="presentation" v-for="(tab, id) in tabs" :key="id">
            <button class="nav-link" :class="{ active: state.activeTab === id }"
                    :id="`${id}_tab`"
                    data-bs-toggle="tab"
                    :data-bs-target="`#${id}`"
                    type="button"
                    role="tab"
                    @click="state.activeTab = id"
                    :aria-selected="state.activeTab === id">
                ${tab.title}
            </button>
        </li>
    </ul>
    <div class="tab-content" id="chart_tabs">

        <div class="tab-pane fade show active" id="standard_anomaly_data">
            <div class="row">
                <div class="col">
                    <standard-anomaly-chart
                            :mpa="state.mpa"
                            data-url="{% url 'core:anomaly' %}"
                            :is-active="state.activeTab === 'standard_anomaly_data'"
                    ></standard-anomaly-chart>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="timeseries_data">
            <div class="row">
                <div class="col">
                    <quantile-chart
                            :mpa="state.mpa"
                            :depth="state.depth"
                            :start-date="state.dates.startDate"
                            :end-date="state.dates.endDate"
                            :selected-date="state.dates.selected"
                            :timeseries-data="state.timeseriesData"
                            data-url="{% url 'core:quantiles' %}"
                            :is-active="state.activeTab === 'timeseries_data'"
                            :is-loading="state.loading"
                            @date-selected="setSelectedDate"
                    ></quantile-chart>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="species_data">
            <div class="row mt-1 mb-1">
                <div class="col">
                    <button id="btn_id_add_chart" class="btn btn-primary btn-sm"
                            onclick="add_range_chart('{% url 'core:range_chart' %}')"
                            title="{% trans "Add Chart" %}">{% trans "Add Chart" %}</button>
                    <div id="btn_id_add_chart_loading"></div>
                </div>
            </div>
            <div id="div_id_species_charts">
                <species-chart
                        :mpa="state.mpa"
                        :species-list="state.species"
                        :timeseries-data="state.timeseriesData"
                        :selected-date="state.dates.selected"
                        :is-active="state.activeTab === 'species_data'"
                        :is-loading="state.loading"
                        @date-selected="setSelectedDate"
                ></species-chart>
            </div>

            <div class="card mt-2">
                <div class="card-header">
                    <div class="card-title">
                        Citations
                    </div>
                </div>
                <div class="card-body">
                    Shaylyn A. Lewis, Christine H. Stortini, Daniel G. Boyce, and Ryan R.E. Stanley. 2023. Climate
                    change, species thermal emergence, and conservation design: a case study in the Canadian Northwest
                    Atlantic. FACETS. 8: 1-16. <a href="https://doi.org/10.1139/facets-2022-0191">https://doi.org/10.1139/facets-2022-0191</a>
                </div>
            </div>
        </div>


        <div class="tab-pane fade" id="network_data">
            <div class="mt-2" id="div_id_network_card">
                <network-indicators
                        :selected-polygon="state.selectedPolygon"
                        :selected-date="state.dates.selected"
                        :is-ctrl-pressed="state.isCtrlPressed"
                        data-url="{% url 'api:network-indicators-list' %}"
                        @polygon-list-updated="updateSelectedPolygons"
                ></network-indicators>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <!-- Add Vue app script -->
    <script type="module" src="{% static 'core/js/vue-app.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize Vue app
            const app = mapApp.mount('#app');

            app.initialize(
                "{% url 'api:mpas-with-timeseries-list' %}", // used to get the mpa polygons, bot only ones with a timeseries
                "{% url 'core:timeseries' %}",  // retrieves the timeseries data that's used by multiple objects
                "{% url 'core:get_classification_colours' %}", // adds the legend to the map
                "{% url 'api:species-list' %}?all=true",  // used to get the list of species and assciated data
            );

            // Initialize your existing code as well during transition
            {#window.standard_anomalies_chart = new StandardAnomaliesChart('mpa_ts_stda_chart', "{% url 'core:stda_chart' %}");#}
            {#MapApp.init(#}
            {#    "{% url 'api:mpas-with-timeseries-list' %}",#}
            {#    "{% url 'core:timeseries' %}",#}
            {#    "{% url 'core:anomaly' %}",#}
            {#    "{% url 'core:get_depths' %}"#}
            {#);#}
        });
    </script>

{% endblock %}