{% extends 'base_map.html' %}
{% load static %}

{% block content %}
    <div class="row mt-2">
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    <div class="card-title"><h2>MPA Description</h2></div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2"><b>MPA Name:</b></div>
                        <div class="col" id="mpa_name"></div>
                    </div>
                    <div class="row">
                        <div class="col-2"><b>MPA Zone:</b></div>
                        <div class="col" id="mpa_zone"></div>
                    </div>
                    <div class="row">
                        <div class="col-2"><b>MPA URL:</b></div>
                        <div class="col" id="mpa_url"><a></a></div>
                    </div>
                    <div class="row">
                        <div class="col-2"><b>Regulation:</b></div>
                        <div class="col" id="mpa_regulation"><a></a></div>
                    </div>
                    <div class="row">
                        <div class="col-2"><b>km^2:</b></div>
                        <div class="col" id="mpa_km2"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-auto">
                            <div class="card">
                                <div class="card-body">
                                    <label for="q_upper" class="form-label">Upper Quantile</label>
                                    <input type="number" class="form-control" id="q_upper" step="0.1"/>
                                    <label for="q_lower" class="form-label">Lower Quantile</label>
                                    <input type="number" class="form-control" id="q_lower" step="0.1"/>
                                    <div class="row mt-2">
                                        <div class="col-auto">
                                            <button class="btn btn-primary" onclick="update_thresholds()" title="refresh">Refresh</button>
                                        </div>
                                        <div class="col-auto">
                                            <div class="d-flex justify-content-center">
                                                <div id="loading_threshold"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col text-center">
                                    <label for="riskdial" class="text-center">Difference Dial</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <input id="riskdial" type="text" class="dial"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card h-100">
                <div class="card-body">
                    <div class="folium-map mt-2" id="map"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-2 h-100">
        <div class="card-body" style="height: 300px">
            <div class="d-flex justify-content-center">
                <div id="loading_chart"></div>
            </div>
            <canvas id="mpa_time_series_chart"></canvas>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ mpas|json_script:"mpas_json" }}
    <script>
        let q_upper = 0.9;
        let q_lower = 0.1;
        let mpa_id = null;

        $(function($) {
            let $max_dial = $("#q_upper");
            let $min_dial = $("#q_lower");

            $max_dial.val(q_upper);
            $max_dial.on('input', function(e) {
                q_upper = parseFloat($(this).val());
            });

            $min_dial.val(q_lower);
            $min_dial.on('input', function(e) {
                q_lower = parseFloat($(this).val());
            });
        });

        function clear_timeseries() {
            qs_data = [];

            {#dial_min = 0;#}
            {#dial_max = 0;#}
            dial_cur = 0;
            configure_dial();

            ts_labels = [];
            ts_data = [];
            cs_data = [];
            threshold_data = [];
            date_indicator.value = "undefined";
            update_chart();
        }

        function update_thresholds() {
            $.ajax({
                method: "GET",
                url: {%  url 'timeseries' %} +'?mpa=' + mpa_id + '&upper=' + q_upper + '&lower=' + q_lower,
                beforeSend: function() {
                    $("#loading_threshold").addClass("loader-sm");
                    {#$("#mpa_time_series_chart").hide();#}
                },
                success: function (data) {
                    qs_data = data.data;

                    upper_threshold_data = $.map(qs_data, function (value, key) {
                        return value.upperq;
                    })
                    lower_threshold_data = $.map(qs_data, function (value, key) {
                        return value.lowerq;
                    })

                    ds_upper_threshold.data = upper_threshold_data
                    ds_lower_threshold.data = lower_threshold_data

                    timeseries_chart.update();
                },
                error: function (error_data) {
                    console.log("error");
                    console.log(error_data);
                },
                complete: function() {
                    $("#loading_threshold").removeClass("loader-sm");
                    {#$("#mpa_time_series_chart").show();#}
                }
            });
        }

        function get_timeseries(id) {
            mpa_id = id;
            $.ajax({
                method: "GET",
                url: {%  url 'timeseries' %} +'?mpa=' + id + '&upper=' + q_upper + '&lower=' + q_lower,
                beforeSend: function() {
                    $("#loading_chart").addClass("loader");
                    $("#mpa_time_series_chart").hide();
                },
                success: function (data) {
                    qs_data = data.data;

                    configure_dial();

                    ts_labels = $.map(qs_data, function (value, key) {
                        return Date.parse(value.date);
                    })
                    ts_data = $.map(qs_data, function (value, key) {
                        return value.temp;
                    })
                    cs_data = $.map(qs_data, function (value, key) {
                        return value.clim;
                    })
                    upper_threshold_data = $.map(qs_data, function (value, key) {
                        return value.upperq;
                    })
                    lower_threshold_data = $.map(qs_data, function (value, key) {
                        return value.lowerq;
                    })

                    update_chart();
                },
                error: function (error_data) {
                    console.log("error");
                    console.log(error_data);
                },
                complete: function() {
                    $("#loading_chart").removeClass("loader");
                    $("#mpa_time_series_chart").show();
                }
            });
        }

        let map = L.map('map').setView([44.666830, -59.631500], 6)

        L.tileLayer(
            "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
            {
                "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
                "detectRetina": false,
                "maxNativeZoom": 19,
                "maxZoom": 19,
                "minZoom": 0,
                "noWrap": false,
                "opacity": 1,
                "subdomains": "abc",
                "tms": false
            }
        ).addTo(map);

        let mpas = JSON.parse(document.getElementById('mpas_json').textContent)

        let multiPolygonOptions = {color: 'red', weight: 8};

        let selectedLayer = null;
        mpas.forEach(mpa => {
            let json = JSON.parse(mpa)
            let geo_obj = L.geoJSON(json,
                {
                    style: function (feature) {
                        return {
                            fillColor: feature.style.color,
                            fillOpacity: '0.8',
                        }
                    }
                });
            geo_obj.on('click', function (e) {
                if (selectedLayer) {
                    selectedLayer.setStyle({fillColor: selectedLayer.feature.style.color});
                }

                selectedLayer = e.layer
                selectedLayer.setStyle({fillColor: "#ffff00"});

                let feature = selectedLayer.feature
                clear_timeseries();
                get_timeseries(feature.id);
                $("#mpa_name").text(feature.properties.name);
                $("#mpa_zone").text(feature.properties.zone);

                let $mpa_url = $("#mpa_url a");
                $mpa_url.attr("href", feature.properties.url)
                $mpa_url.text(feature.properties.url);

                let $regulation = $("#mpa_regulation a");
                $regulation.attr("href", feature.properties.regulation)
                $regulation.text(feature.properties.regulation);

                $("#mpa_reglement").text(feature.properties.reglement);
                $("#mpa_km2").text(feature.properties.km2);
            });
            geo_obj.addTo(map)
        });

    </script>
    <script src="{% static 'js/custom_dial.js' %}"></script>
    <script src="{% static 'js/custom_chart.js' %}"></script>

{% endblock %}