{% extends 'core/map_template.html' %}

{% block species-tab %}
{% endblock %}

{% block include-tabs %}
const tabsData = {
    activeTab: "timeseries_data",
    tabList: {
        timeseries_data: {title: window.translations?.timeseries || 'Timeseries'},
        standard_anomaly_data: {title: window.translations?.standard_anomalies || 'Standard Anomalies'},
        network_data: {title: window.translations?.network_data || 'Network Data'},
    }
};
{% endblock %}

{% block timeseries_type %}2{% endblock %}