body {
    background-color: lightgray;
}

.map-container {
    position: relative;
}

.map-loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.nav-tabs .nav-link {
    background-color: #85c1ff !important;
    color: black;
    margin-right: 2px;
}

.accordion-button {
    background-color: #85c1ff !important; /* Match the nav-tabs background */
    color: black !important; /* Match the nav-tabs text color */
    border-color: #85c1ff !important; /* Match the border color */
}

.accordion-button:not(.collapsed) {
    background-color: #003f7f !important; /* Match the active nav-tabs background */
    color: white !important; /* Match the active nav-tabs text color */
    border-color: #003f7f !important; /* Match the active border color */
}

.nav-tabs .nav-link.active {
    background-color: #003f7f !important; /* Darker blue for active state */
    color: white !important; /* White text for contrast */
    border-color: #003f7f !important; /* Match border color with background */
}

.dropdown-menu {
    z-index: 1050;
}

.species-vector {
    height: 96px;
}

.chart-container {
    background-color: white;
    position: relative;
    min-height: 425px;
    height: 425px;
    width: 100%;
    overflow: hidden;
}

.chart-loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.leaflet-control-attribution {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 7px;
    padding: 2px 4px;
}

.legend {
    background: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend h4 {
    margin: 0 0 5px;
}

.legend span {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legend.hidden {
    display: none;
}

.legend-toggle a {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.legend-toggle a:hover {
    background-color: #f4f4f4;
}

/* Override Bootstrap subtle background colors */
.bg-primary-subtle {
    background-color: #6ea8fe !important; /* This is equivalent to Bootstrap's $blue-300 */
}

.bg-danger-subtle {
    background-color: #ea868f !important; /* Bootstrap's $red-400 equivalent */
}