{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img class="img-fluid" style="height: 1.5em;"
                 src="{% static 'icons/favicon.png' %}"/> {% trans "Digital Twin Ocean for Marine Conservation" %}
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dataDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans "Data" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dataDropdown">
                        <li><a class="dropdown-item" href="{% url 'index' %}">{% trans "Bottom Temperature Timeseries" %}</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                       title="{% trans 'Digital Twin Ocean for Marine Conservation allows biologist and physical oceanographers to observe data across Atlantic Canadian conservation areas.' %}
<br /><br />
{% trans 'We do cool stuff!' %}">
                        {% trans "About" %}
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="climateModelDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans "Climate Model" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="climateModelDropdown">
                        <li><a class="dropdown-item" href="#" data-climate-model="model1">{% trans "Model 1" %}</a></li>
                        <li><a class="dropdown-item" href="#" data-climate-model="model2">{% trans "Model 2" %}</a></li>
                        <li><a class="dropdown-item" href="#" data-climate-model="model3">{% trans "Model 3" %}</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == 'en' %}
                        <a class="nav-link" href="{% url 'set_language' %}?language=en&next={{ request.get_full_path }}">
                            <i class="bi bi-translate"></i> Français
                        </a>
                    {% else %}
                        <a class="nav-link" href="{% url 'set_language' %}?language=fr&next={{ request.get_full_path }}">
                            <i class="bi bi-translate"></i> English
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>