<div class="row">
    <div class="col-auto">
        <div class="card">
            <div class="card-body">
                <label for="t_upper" class="form-label">Upper Temperature (C)</label>
                <input type="number" class="form-control" id="t_upper" step="0.1"/>
                <label for="t_lower" class="form-label">Lower Temperature (C)</label>
                <input type="number" class="form-control" id="t_lower" step="0.1"/>
                <div class="row mt-2">
                    <div class="col-auto">
                        <button class="btn btn-primary" onclick="update_temp_thresholds()"
                                title="refresh">
                            Refresh
                        </button>
                    </div>
                    <div class="col-auto">
                        <div class="d-flex justify-content-center">
                            <div id="loading_threshold"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
