{% load i18n %}

<div class="row mt-2" id="div_{{ id }}_dto_chart" >
    <div class="col-auto">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col text-center">
                        <label for="{{ id }}_riskdial" class="text-center">{% block dial_title %}{% trans "Risk Dial" %}{% endblock %}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <input id="{{ id }}_riskdial" type="text" class="dial"/>
                    </div>
                </div>
                {% block species_select %}
                <div class="row">
                    <div class="col form-group">
                        <label for="{{ id }}_select_id_species" class="form-label">{% block species %}{% trans 'Species Select' %}{% endblock %}</label>
                        <select class="form-select" id="{{ id }}_select_id_species" name="species" {% block data_url %}data-url="{% url 'species_range' %}"{% endblock %}>
                            <option value="-1">----</option>
                            {% for specie in species %}
                                <option value="{{ specie.id }}">{{ specie.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endblock %}
                <label for="{{ id }}_q_upper" class="form-label">{% block dial_upper_limit_label %}{% trans 'Upper Limit' %}{% endblock %}</label>
                <input type="number" class="form-control" id="{{ id }}_q_upper" step="0.1"/>
                <label for="{{ id }}_q_lower" class="form-label">{% block dial_lower_limit_label %}{% trans 'Lower Limit' %}{% endblock %}</label>
                <input type="number" class="form-control" id="{{ id }}_q_lower" step="0.1"/>
                <div class="row mt-2">
                    <div class="col-auto">
                        {% block refresh_button %}
                        <button id="btn_{{ id }}_update_thresholds" class="btn btn-primary" title="{% trans 'Refresh' %}" data-url="{% url 'species_range' %}">
                            {% trans 'Refresh' %}
                        </button>
                        {% endblock %}
                    </div>
                    <div class="col-auto">
                        <div class="d-flex justify-content-center">
                            <div id="{{ id }}_loading_threshold"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <canvas id="{{ id }}"></canvas>
        <div class="hidden d-flex justify-content-center">
            <div id="{{ id }}_loading_chart" ></div>
        </div>
    </div>
</div>
